.App {
  text-align: center;
}
.MuiButton-containedPrimary {
  background-color: #3eb772 !important;
}

.MuiSvgIcon-colorPrimary {
  color: #3eb772 !important;
}

.css-wb57ya-MuiFormControl-root-MuiTextField-root {
  margin-bottom: 0.8rem !important;
}

.css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
  margin-bottom: 0.8rem !important;
}

.css-1nrlq1o-MuiFormControl-root {
  margin-bottom: 0.8rem !important;
}

.MuiFormHelperText-root {
  margin-left: 2px !important;
}

.MuiSelect-select {
  text-align: left;
}
